*.iml
.gradle
/local.properties
/.idea
.idea/
/AndroidSqlEditorDatabases/
/captures
.externalNativeBuild
.cxx
/app/release/
/build
/app/build
*.jks
*.keystore
*.key
*.p12
*.pfx
!app/src/main/assets/npatch/npatch.key
!app/src/main/assets/npatch/fpa_app.key
